PyQt6
SpeechRecognition
pyaudio
edge-tts
pygame
pycaw
comtypes
screen-brightness-control
fuzzywuzzy
python-Levenshtein
duckduckgo-search
pynput
pvporcupine
ollama
pillow
mss
requests
winotify
pywifi
psutil
